In [43]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [56]:
train = pd.read_csv("/Users/romainbrule/Documents/Cours/Master2/KAGGLE/train_model.csv")
test=pd.read_csv("/Users/romainbrule/Documents/Cours/Master2/KAGGLE/test_final.csv")

In [57]:
test.columns
id_seqpos=test.loc[:,['id_seqpos']]

## Modèle simple

In [8]:
Y_train = train.loc[:,["reactivity","deg_Mg_pH10","deg_pH10","deg_Mg_50C","deg_50C"]]
X_train=train.loc[:,[ 'C', 'G', 'U','E', 'H', 'I', 'M', 'S', 'X', ')', 
             '.']]

X_test=test.loc[:,['C','G', 'U', 'E', 'H', 'I', 'M', 'S', 'X', ')', '.']]

In [10]:
reg = LinearRegression()
reg.fit(X_train,Y_train)
y_pred = reg.predict(X_test)

In [13]:
y_pred_df = pd.DataFrame(y_pred, columns= ['reactivity', 
            'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C'])

y_pred_df.insert(0, "id_seqpos", id_seqpos, True) 

y_pred_df

,id_seqpos,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_00073f8be_0,0.703125,0.816406,1.162109,0.818359,0.830078
1,id_00073f8be_1,0.703125,0.816406,1.162109,0.818359,0.830078
2,id_00073f8be_2,0.701172,0.664062,0.892578,0.775391,0.773438
3,id_00073f8be_3,0.701172,0.664062,0.892578,0.775391,0.773438
4,id_00073f8be_4,0.701172,0.664062,0.892578,0.775391,0.773438
...,...,...,...,...,...,...
457948,id_ffda94f24_125,0.701172,0.664062,0.892578,0.775391,0.773438
457949,id_ffda94f24_126,0.532227,0.669922,1.001953,0.734375,0.742188
457950,id_ffda94f24_127,0.701172,0.664062,0.892578,0.775391,0.773438
457951,id_ffda94f24_128,0.701172,0.664062,0.892578,0.775391,0.773438
457952,id_ffda94f24_129,0.532227,0.669922,1.001953,0.734375,0.742188

In [14]:
#y_pred_df.to_csv('submission_siple.csv', index=False)

## N_bases

In [28]:
Y_train = train.loc[:,["reactivity","deg_Mg_pH10","deg_pH10","deg_Mg_50C","deg_50C"]]
X_train=train.loc[:,[ 'C', 'G', 'U','E', 'H', 'I', 'M', 'S', 'X', ')', 
             '.','N_base_A', 'N_base_C', 'N_base_G', 'N_base_U']]
X_test=test.loc[:,['C','G', 'U', 'E', 'H', 'I', 'M', 'S', 'X', ')', '.','N_base_A', 'N_base_C',
       'N_base_G', 'N_base_U']]
reg = LinearRegression()
reg.fit(X_train,Y_train)
y_pred = reg.predict(X_test)
y_pred_df = pd.DataFrame(y_pred, columns= ['reactivity', 
            'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C'])

y_pred_df.insert(0, "id_seqpos", id_seqpos, True) 

y_pred_df

,id_seqpos,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_00073f8be_0,0.681152,0.859863,1.288574,0.845703,0.841797
1,id_00073f8be_1,0.681152,0.859863,1.288574,0.845703,0.841797
2,id_00073f8be_2,0.720703,0.590820,0.765625,0.740723,0.751953
3,id_00073f8be_3,0.720703,0.590820,0.765625,0.740723,0.751953
4,id_00073f8be_4,0.720703,0.590820,0.765625,0.740723,0.751953
...,...,...,...,...,...,...
457948,id_ffda94f24_125,0.683594,0.719238,0.973633,0.803711,0.784180
457949,id_ffda94f24_126,0.530273,0.759766,1.108398,0.799316,0.794922
457950,id_ffda94f24_127,0.683594,0.719238,0.973633,0.803711,0.784180
457951,id_ffda94f24_128,0.683594,0.719238,0.973633,0.803711,0.784180
457952,id_ffda94f24_129,0.530273,0.759766,1.108398,0.799316,0.794922

In [29]:
y_pred_df.to_csv('submission_N_base.csv', index=False)

## N_formes

In [30]:
Y_train = train.loc[:,["reactivity","deg_Mg_pH10","deg_pH10","deg_Mg_50C","deg_50C"]]
X_train=train.loc[:,[ 'C', 'G', 'U','E', 'H', 'I', 'M', 'S', 'X', ')', 
             '.','N_E', 'N_H', 'N_I', 'N_M','N_S', 'N_X', 'N_B']]
X_test=test.loc[:,['C','G', 'U', 'E', 'H', 'I', 'M', 'S', 'X', ')', 
                   '.','N_E', 'N_H', 'N_I', 'N_M','N_S', 'N_X', 'N_B']]
reg = LinearRegression()
reg.fit(X_train,Y_train)
y_pred = reg.predict(X_test)
y_pred_df = pd.DataFrame(y_pred, columns= ['reactivity', 
            'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C'])

y_pred_df.insert(0, "id_seqpos", id_seqpos, True) 

y_pred_df

,id_seqpos,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_00073f8be_0,0.954641,1.109720,1.561654,1.117661,1.071348
1,id_00073f8be_1,0.954641,1.109720,1.561654,1.117661,1.071348
2,id_00073f8be_2,0.971085,0.966635,1.298611,1.085216,1.015146
3,id_00073f8be_3,0.971085,0.966635,1.298611,1.085216,1.015146
4,id_00073f8be_4,0.971085,0.966635,1.298611,1.085216,1.015146
...,...,...,...,...,...,...
457948,id_ffda94f24_125,0.825628,0.801689,1.075404,0.918374,0.882785
457949,id_ffda94f24_126,0.658189,0.818429,1.199943,0.882195,0.858850
457950,id_ffda94f24_127,0.825628,0.801689,1.075404,0.918374,0.882785
457951,id_ffda94f24_128,0.825628,0.801689,1.075404,0.918374,0.882785
457952,id_ffda94f24_129,0.658189,0.818429,1.199943,0.882195,0.858850

In [31]:
y_pred_df.to_csv('N_formes.csv', index=False)

## Modèle variables changées

In [41]:
Y_train = train.loc[:,["reactivity","deg_Mg_pH10","deg_pH10","deg_Mg_50C","deg_50C"]]
X_train=train.loc[:,[')', '.','N_base_A', 'N_base_C', 'N_base_G', 'N_base_U', 
                     'N_E', 'N_H', 'N_I', 'N_M','N_S', 'N_X', 'N_B']]

X_test=test.loc[:,[ ')', '.', 'N_base_A', 'N_base_C',
       'N_base_G', 'N_base_U', 'N_E', 'N_H', 'N_I', 'N_M', 'N_S',
       'N_X', 'N_B']]

reg = LinearRegression()
reg.fit(X_train,Y_train)
y_pred = reg.predict(X_test)

y_pred_df = pd.DataFrame(y_pred, columns= ['reactivity', 
            'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C'])

y_pred_df.insert(0, "id_seqpos", id_seqpos, True) 

y_pred_df

,id_seqpos,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_00073f8be_0,0.705096,0.830702,1.042335,0.731604,0.725867
1,id_00073f8be_1,0.705096,0.830702,1.042335,0.731604,0.725867
2,id_00073f8be_2,0.826869,0.663750,0.689020,0.741329,0.714643
3,id_00073f8be_3,0.826869,0.663750,0.689020,0.741329,0.714643
4,id_00073f8be_4,0.826869,0.663750,0.689020,0.741329,0.714643
...,...,...,...,...,...,...
457948,id_ffda94f24_125,0.641134,0.623887,0.688852,0.641791,0.639367
457949,id_ffda94f24_126,0.484239,0.621579,0.749922,0.574055,0.575399
457950,id_ffda94f24_127,0.641134,0.623887,0.688852,0.641791,0.639367
457951,id_ffda94f24_128,0.641134,0.623887,0.688852,0.641791,0.639367
457952,id_ffda94f24_129,0.484239,0.621579,0.749922,0.574055,0.575399

In [42]:
y_pred_df.to_csv('submission_var_changee.csv', index=False)

## Modèle complet

In [51]:
Y_train = train.loc[:,["reactivity","deg_Mg_pH10","deg_pH10","deg_Mg_50C","deg_50C"]]
X_train=train.loc[:,[ 'C', 'G', 'U','E', 'H', 'I', 'M', 'S', 'X', ')', 
             '.','N_base_A', 'N_base_C', 'N_base_G', 'N_base_U', 
                     'N_E', 'N_H', 'N_I', 'N_M','N_S', 'N_X', 'N_B','N_point']]

In [52]:
X_test=test.loc[:,['C','G', 'U', 'E', 'H', 'I', 'M', 'S', 'X', ')', '.', 'N_base_A', 'N_base_C',
       'N_base_G', 'N_base_U', 'N_E', 'N_H', 'N_I', 'N_M', 'N_S',
       'N_X', 'N_B','N_point']]

In [53]:
reg = LinearRegression()
reg.fit(X_train,Y_train)
y_pred = reg.predict(X_test)

In [54]:
y_pred_df = pd.DataFrame(y_pred, columns= ['reactivity', 
            'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C'])

y_pred_df.insert(0, "id_seqpos", id_seqpos, True) 
y_pred_df

,id_seqpos,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_00073f8be_0,1.007169,1.284685,1.728364,1.339728,1.226197
1,id_00073f8be_1,1.007169,1.284685,1.728364,1.339728,1.226197
2,id_00073f8be_2,1.110133,1.075071,1.288437,1.297005,1.179551
3,id_00073f8be_3,1.110133,1.075071,1.288437,1.297005,1.179551
4,id_00073f8be_4,1.110133,1.075071,1.288437,1.297005,1.179551
...,...,...,...,...,...,...
457948,id_ffda94f24_125,0.884850,1.001100,1.234178,1.150241,1.046692
457949,id_ffda94f24_126,0.731802,1.045661,1.375809,1.146847,1.058693
457950,id_ffda94f24_127,0.884850,1.001100,1.234178,1.150241,1.046692
457951,id_ffda94f24_128,0.884850,1.001100,1.234178,1.150241,1.046692
457952,id_ffda94f24_129,0.731802,1.045661,1.375809,1.146847,1.058693

In [55]:
y_pred_df.to_csv('submission_N_point.csv', index=False)

## Modèle opti

In [58]:
Y_train = train.loc[:,["reactivity","deg_Mg_pH10","deg_pH10","deg_Mg_50C","deg_50C"]]
X_train=train.loc[:,[ 'C', 'G', 'U','E', 'H', 'I', 'M', 'S', 'X', ')', 
             '.','N_base_A', 'N_base_C', 'N_base_G', 'N_base_U', 
                     'N_E', 'N_H', 'N_I', 'N_M','N_S', 'N_X', 'N_B']]

X_test=test.loc[:,['C','G', 'U', 'E', 'H', 'I', 'M', 'S', 'X', ')', '.', 'N_base_A', 'N_base_C',
       'N_base_G', 'N_base_U', 'N_E', 'N_H', 'N_I', 'N_M', 'N_S',
       'N_X', 'N_B']]

In [59]:
reg = LinearRegression()
reg.fit(X_train,Y_train)
y_pred = reg.predict(X_test)

In [60]:
y_pred_df = pd.DataFrame(y_pred, columns= ['reactivity', 
            'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C'])

y_pred_df.insert(0, "id_seqpos", id_seqpos, True) 
y_pred_df

,id_seqpos,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_00073f8be_0,0.918499,1.119422,1.625107,1.110650,1.059393
1,id_00073f8be_1,0.918499,1.119422,1.625107,1.110650,1.059393
2,id_00073f8be_2,1.024046,0.914622,1.188187,1.074599,1.017605
3,id_00073f8be_3,1.024046,0.914622,1.188187,1.074599,1.017605
4,id_00073f8be_4,1.024046,0.914622,1.188187,1.074599,1.017605
...,...,...,...,...,...,...
457948,id_ffda94f24_125,0.800960,0.844745,1.136487,0.933512,0.888881
457949,id_ffda94f24_126,0.647025,0.887652,1.277084,0.927826,0.899212
457950,id_ffda94f24_127,0.800960,0.844745,1.136487,0.933512,0.888881
457951,id_ffda94f24_128,0.800960,0.844745,1.136487,0.933512,0.888881
457952,id_ffda94f24_129,0.647025,0.887652,1.277084,0.927826,0.899212

In [61]:
y_pred_df.to_csv('best_submission.csv', index=False)